.cell {
    background: #81DAF5;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.cell-disclosed {
    background: #FFFFFF;
}

.cell-bomb {
    height: 24px;
}

.cell:focus {
    outline: none;
}

.cell-adj-1 {
    color: #8FFA20;
}

.cell-adj-2 {
    color: #8FFA85;
}

.cell-adj-3 {
    color: #43D99A;
}

.cell-adj-4 {
    color: #09A7B4;
}

.cell-adj-5 {
    color: #756585;
}

.cell-adj-6 {
    color: #FF8C89;
}

.cell-adj-7 {
    color: #FF8CCF;
}

.cell-adj-8 {
    color: #FF8D0F;
}